---
layout: index
class: nav-blue
toggle: toggle-bl
brand: isotipo-blue.svg
permalink: /contacto/
---
{% include nav.html %}
<section id="contacto">
	<div class="container title">
		<div class="row d-flex justify-content-center">
			<h1>CONTÁCTANOS</h1>
			<div class="w-100"></div>
			<p>¡Nuestro equipo se comunicará contigo lo más pronto posible!</p>
		</div>
	</div>
	<div class="g-container">
		<div class="container-fluid g-2">
		</div>
		<div class="container-fluid g-1">
		</div>
		<div class="container-fluid g-3"></div>
	</div>
	<div class="container form">
		<div class="row d-flex justify-content-center">
			<div class="col-sm-12 col-md-7 card">
			<h3>PIDE UN DEMO</h3>
			<div class="row d-flex justify-content-center">
				<form action="https://formspree.io/teayudo@simpplo.com" method="POST">
				   <label for="nombre">Nombre</label>
				   <input type="text" name="nombre" id="nombre">
				   <label for="email">Correo Electrónico</label>
				   <input type="email" name="email" id="email">
				   <label for="phone">Teléfono</label>
				   <input type="text" name="telefono" id="phone">
				   <label for="company">Compañía</label>
				   <input type="text" name="company" id="company" >
				   <label for="message">Mensaje</label>
				   <textarea name="mensaje" id="message"></textarea>
				   <input type="submit" value="Enviar" class="submit-b">
				   <input type="hidden" name="_language" value="es" />
				</form>
			</div>
			
			</div>
		</div>
	</div>
</section>
{% include footer.html %}