---
layout: index
class: nav-white
toggle: toggle-white
brand: isotipo-white.svg
permalink: /productos/
---
{% include nav.html %}
<section id="productos">
	<div class="container-fluid isblue">
		<div class="row d-flex justify-content-center head">
			<h1>NUESTROS PRODUCTOS</h1>
			<div class="w-100"></div>
			<p>Nuestra suite de productos brinda diferentes herramientas a tu empresa para solucionar las necesidades actuales del mercado, optimizar presupuestos, ampliar tu cartera de clientes y destacar entre tus competidores.</p>
		</div>
	</div>
	<div class="height-h"></div>
	<div class="container">
		<div class="row products">
			<div class="col-md-6">
				<div class="d-flex justify-content-center">
					<img src="{{site.baseurl}}/assets/img/i-servicios.svg" height="200">
				</div>
				<div class="card d-flex	justify-content-center">
					<h4>Administración de Servicios</h4>
				</div>
			</div>
			<div class="col-md-6">
				<div class="d-flex justify-content-center">
					<img src="{{site.baseurl}}/assets/img/i-creditos.svg" height="200">
				</div>
				<div class="card d-flex	justify-content-center">
					<h4>Crédito</h4>
				</div>
			</div>
			<div class="w-100"></div>
			<div class="col-md-6">
				<div class="d-flex justify-content-center">
					<img src="{{site.baseurl}}/assets/img/i-ahorro.svg" height="200">
				</div>
				<div class="card d-flex	justify-content-center">
					<h4>Ahorro</h4>
				</div>
			</div>
			<div class="col-md-6">
				<div class="d-flex justify-content-center">
					<img src="{{site.baseurl}}/assets/img/i-envios.svg" height="200">
				</div>
				<div class="card d-flex	justify-content-center">
					<h4>Envio de dinero</h4>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid row-blue mg-t-60 paddit">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-6 ">
					<img src="{{site.baseurl}}/assets/img/i-servicios.svg" height="200">
					<h4>Administración de Servicios</h4>
					<p>Permite al usuario administrar sus servicios, unificándolos en una sola plataforma. Además de poder consultar información de los servicios agregados, el usuario será notificado de sus adeudos próximos a vencerse, funcionando como una excelente herramienta para garantizar el pago puntual.</p>
				</div>
				<div class="col-sm-12 col-md-6 ">
					<ul class="caracteristicas">
						<li>Inteligencia de datos permite predecir comportamiento de usuario.</li>
						<li>Unificación de cuentas y servicios en un solo lugar.</li>
						<li>Notificación digital por correo o a través de la app.</li>
						<li>Pago de servicios de manera digital (sin recibo).</li>
						<li>Notificación de adeudos a tiempo.</li>
						<li>Procesamiento de pagos con tarjeta de crédito o débito.</li>

					</ul>
				</div>
			</div>
		</div>
	</div>
		<div class="container paddit">
			<div class="row">
				<div class="col-sm-12 col-md-6 ">
					<ul class="caracteristicas">
						<li>Simplificación del registro de usuarios por medio de escaneo de información.</li>
						<li>Entrega de documentación digital del usuario en un solo paso.</li>
						<li>Prellenado inteligente de solicitud en menos de 5 minutos.</li>
						<li>Pago de servicios de manera digital (sin recibo).</li>
						<li>Digitalización en las documentaciones de crédito.</li>
						<li>Disponibilidad para hacer y recibir solicitudes 24/7/365.</li>
					</ul>
				</div>
				<div class="col-sm-12 col-md-6 ">
					<img src="{{site.baseurl}}/assets/img/i-creditos.svg" height="200">
					<h4>Créditos</h4>
					<p>Garantiza la rapidez en solicitud y otorgamiento de créditos, ya que permite al usuario realizar una solicitud de crédito en menos de 10 minutos, así como el seguimiento del mismo una vez aprobado. La doble validación permitirá corroborar la autenticidad de los datos del aplicante.</p>
				</div>
			</div>
		</div>
	<div class="container-fluid row-blue paddit">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-6 ">
					<img src="{{site.baseurl}}/assets/img/i-ahorro.svg" height="200">
					<h4>Ahorro</h4>
					<p>La herramienta ideal para cumplir con objetivos financieros a corto y largo plazo. El usuario podrá ver su avance durante todo proceso, desde el momento de la configuración hasta el cumplimiento de su meta.<p>
				</div>
				<div class="col-sm-12 col-md-6 ">
					<ul class="caracteristicas">
						<li>Cálculo de abono por periodo (semanal, quincenal, etc...).</li>
						<li>Seguimiento de objetivos dentro de la app.</li>
						<li>Prellenado inteligente de solicitud en menos de 5 minutos.</li>
						<li>Metas configurables por monto/fecha.</li>
						<li>Notificación de status de objetivos.</li>
						<li>Domiciliación a cuenta bancaria.</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
		<div class="container paddit">
			<div class="row">
				<div class="col-sm-12 col-md-6 ">
					<ul class="caracteristicas">
						<li>Envío de dinero utilizando número telefónico.</li>
						<li>Envío de dinero a contactos del celular.</li>
						<li>Notificación digital por SMS o a través de la app.</li>
						<li>Simplificación del proceso de envío.</li>
						<li>Digitalización en las documentaciones de crédito.</li>
						<li>Disponibilidad de solicitudes 24/7.</li>
					</ul>
				</div>
				<div class="col-sm-12 col-md-6 ">
					<img src="{{site.baseurl}}/assets/img/i-servicios.svg" height="200">
					<h4>Envío de dinero</h4>
					<p>Garantiza la rapidez en solicitud y otorgamiento de créditos, ya que permite al usuario realizar una solicitud de crédito en menos de 10 minutos, así como el seguimiento del mismo una vez aprobado.</p>
				</div>
			</div>
		</div>

	
</section>
{% include cta.html %}
{% include footer.html %}