//Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:900|Open+Sans');

//Variables
$title-font: 'Nunito Sans', sans-serif;
$main-font: 'Open Sans', sans-serif;;

//colors
$blue: #25A8E0;
$green: #00EBA8;
$dark-blue: #073447;
$cta-blue: #2B74FF;
$grey: #f9f9f9;
$lighter-blue: #27DBF4;

$breakpoint-small: 544px; // 540px
$breakpoint-med: 768px; // 720px
$breakpoint-large: 992px; // 960px
$breakpoint-med-fix: 800px;