<section class="mg-t-60">
<div class="container-fluid cta-banner d-flex align-items-center h-100">
	<div class="container">
		<div class="row">
			<div class="col-lg-9 col-md-6 cta-text">
				<h2 class="cta-title">¡CONOCE SIMPPLO HOY!</h2><span class="cta-subtitle">&nbsp;Ponte en contacto con nosotros.</span>
			</div>
			<div class="col-lg-3 col-md-6 d-flex align-items-center h-100 justify-content-end">
				<a href="{{site.baseurl}}/contacto" class="myButton">PIDE UN DEMO</a>
			</div>
		</div>
	</div>
</div> 
</section>