<div class="Navbar container">
		 <nav class="Navbar__Items Navbar__Items--right nav-footer d-felx align-items-center" >
			   <div class="Navbar__Link">
		      		<a href="{{site.baseurl}}/">Inicio</a>
		   	   </div>
			   <div class="Navbar__Link">
		      		<a href="{{site.baseurl}}/nosotros">Nosotros</a>
		   	   </div>
			   <div class="Navbar__Link">
		      		<a href="{{site.baseurl}}/productos">Productos</a>
		   	   </div>
			   <div class="Navbar__Link">
		      		<a href="{{site.baseurl}}/como-operamos">Cómo Operamos</a>
		   	   </div>
			   <div class="Navbar__Link">
		      		<a href="{{site.baseurl}}/contacto">Contacto</a>
		   	   </div>
		 </nav>
</div>
