<header>
	<div class="container-fluid headerbg">
		<div class="header-content">
			{% include nav.html %}
			<div class="container mg-t-30 hero-container">
				<div class="row">
					<div class="col-md-6 mg-b-50">
						<h1>LA PLATAFORMA QUE ENAMORA Y FIDELIZA A TUS CLIENTES</h1>
						<p>SIMPPLO ofrece soluciones que centralizan las principales
						transacciones de tus usuarios en un solo lugar.</p>
						<br>
						<a href="{{site.baseurl}}/nosotros" class="myButton">CONÓCENOS</a>
					</div>
					<div class="col-md-5 offset-md-1 d-flex align-items-center h-100">
						<img src="{{site.baseurl}}/assets/img/tst.png" class="img-fluid">
					</div>
				</div>
			</div>	
		</div>	
	</div>
</header>