<div class="Navbar container mg-t-30">
	<div class="Navbar__Link Navbar__Link-brand">
		<a href="/"><img src="{{site.baseurl}}/assets/img/{{page.brand}}"></a>
	</div>
	  <div class="Navbar__Link Navbar__Link-toggle menu-toggle {{page.toggle}}">
      MENU
    </div>

		 <nav class="Navbar__Items Navbar__Items--right {{page.class}} d-felx align-items-center" >
			   <div class="Navbar__Link">
		      		<a href="{{site.baseurl}}/">Inicio</a>
		   	   </div>
			   <div class="Navbar__Link">
		      		<a href="{{site.baseurl}}/nosotros">Nosotros</a>
		   	   </div>
			   <div class="Navbar__Link">
		      		<a href="{{site.baseurl}}/productos">Productos</a>
		   	   </div>
			   <div class="Navbar__Link">
		      		<a href="{{site.baseurl}}/como-operamos">Cómo Operamos</a>
		   	   </div>
			   <div class="Navbar__Link">
		      		<a href="{{site.baseurl}}/contacto">Contacto</a>
		   	   </div>
		 </nav>
</div>
